#clients{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#clients h1{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

#clients p{
    text-align: center;
    font-size: 1.2rem;    
    max-width: 51rem;
    padding:0  1.2rem 2rem;
}

#clients .clients-img{
display: flex;

}
.client-img{
    width: 12vw;
}