*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins',sans-serif; 
    /* scroll-behavior: smooth;    */
}
body {
    background:rgb(30,30,30);
    color: white; 
    overflow: hidden;
    overflow-y: scroll;
}
.container{
    margin: 0 auto;
    padding: 2rem;   
    max-width: 90rem;
}

.btn{
    background: white;
    border-radius: 1rem;
    padding: 0.8rem 2.2rem;
    margin: 1rem 0;
    border: none;
    font-size: 1.3rem;
    color: black;
    cursor: pointer;
}